body {
  padding: 0;
  margin: 0;
  background-color: #98CAD8;
}

.App {
  text-align: center;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
  border-radius: 10%;
}

#hero {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 250px;
  text-align: center;
}

.icon {
  font-size: 70px;
  color: #98CAD8;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.fwDzZx {
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
  height: 50% !important;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-record {
  font-size: 14px;
  background: #98CAD8;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 5px;
}

.file-upload {
  font-size: 14px;
  background: #E6E6E6;
  border: 0;
  color: #0560AA;
  padding: 10px 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 5px;
}

#file-upload {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}

#video-record {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}

#confirm-upload {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}
